{% extends 'template.html' %}

{% block title %}Example{% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/billboardchart.css' %}"> 
    <style>
        #wrapper {
            width: 100%;
        }
        #top-wrapper {
            margin-top: 150px;
            width: 100%;
        }
        #top-label {
            font-size: 50px;
            font-weight: bolder;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
        }
        #date-container {
            width: 100%;
            margin: 30px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #date-label {
            font-size: 20px;
            font-weight: bold;
            margin-right: 20px;
        }

        #date-icon img {
            width: 24px;
            height: 24px;
        }

        #hr1 {
            border: white 3px solid;
        }
        #hr2 {
            border: white 2px solid;
        }

        #rank1-wrapper {
            display: flex;
            flex-direction: row;
            width: 80%;
            margin: 50px 10% 50px 10%;
            justify-content: center;
            /* border: 2px solid red; */
        }

        #rank1-img{
            min-width: 300px;
        }

        #rank1-info-wrapper {
            margin-left: 50px;
        }

        #rank1-info-top {
            display:flex;
            padding-bottom: 30px;
            border-bottom: 1px solid gray;
        }

        #rank1-rank {
            text-align: center;
            font-size: 50px;
            font-weight: bolder;
            margin-right: 30px;
        }

        #rank1-chartinfo {
            margin-top: 50px;
            min-width: 100%;
            display:flex;
            justify-content: center;
        }

        .rank1-chartinfo-item {
            align-items: center;
            padding: 0 30px;
        }

        .rank1-info-label {
            font-size: 15px;
            font-weight: bold;
            text-align: center;
        }
        .rank1-info-value {
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
        }

        #rank1-title {
            font-size: 30px;
            font-weight: bolder;
        }

        #rank1-artist {
            font-size: 20px;
            font-weight:normal;
        }

        #chart-table-wrapper {
            margin: 80px 0;
            width: 100%;
        }

        #chart-table {
            width: 100%;
        }

        td {
            padding: 5px;
            color: white;
            text-align: center;
        }

        #chart-legend td{
            height: 80px;
            font-size: 18px;
            background-color: blue;
            font-weight: bolder;
        }

        #chart-legend #legend-rank {
            width: 10%;
        }
        #chart-legend #legend-title {
            width: 30%;
        }
        #chart-legend #legend-artist {
            width: 30%;
        }
        #chart-legend #legend-lastweek {
            width: 10%;
        }

        .chart-content td{
            height: 100px;
            background-color: rgb(54, 54, 54);
            color: white;
            font-size: 25px;
            font-weight: bolder;
            text-align: center;
            border-bottom: 1px solid lightgray;
        }
        .chart-content .content-rank{
            background: white;
            color: black;
            font-weight: bolder;
        }
        .chart-content .content-artist{
            background: black;
        }
        .chart-content .content-peakpos{
            background: black;
        }

        @media (max-width:1000px) {
            #rank1-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 80%;
                margin: 50px 10% 50px 10%;
                /* border: 2px solid red; */
            }
            #rank1-img {
                flex: 1;
                width: 300px;
                height: 300px;
            }
            #rank1-info-wrapper {
                flex: 1;
                margin-left: 0;
                margin-top: 30px;
            }
            #rank1-rank {
                width: auto;
            }
            #rank1-track {
                margin-left: 30px;
            }
        }
    </style>
{% endblock %}

{% block startscript %}
{% endblock %}

{% block endscript %}

{% endblock %}

{% block content %}

<div id="wrapper">
    <div id="top-wrapper">
        <div id="top-label">Billboard Hot 50™</div>
        <div id="hr1"></div>
        <div id="date-container">
            <div id="date-label">{{date}}</div>
            <!-- <input type="date" id="date-input" min="1963-01-01" value="{{ inputdate }}"> -->
        </div>
        <div id="hr2"></div>
    </div>
    <div id="rank1-wrapper">
        <img id="rank1-img" src="{{rank1.image}}">
        <div id="rank1-info-wrapper">
            <div id="rank1-info-top">
                <div id="rank1-rank">{{rank1.rank}}</div>
                <div id="rank1-track">
                    <div id="rank1-title">{{rank1.title}}</div>
                    <div id="rank1-artist">{{rank1.artist}}</div>
                </div>
            </div>
            <div id="rank1-chartinfo">
                <div class="rank1-chartinfo-item" style="border-right: 1px solid gray">
                    <div class="rank1-info-label">Last Week</div>
                    <div class="rank1-info-value">{{rank1.lastPos}}</div>
                </div>
                <div class="rank1-chartinfo-item">
                    <div class="rank1-info-label">Weeks On Chart</div>
                    <div class="rank1-info-value">{{rank1.weeks}}</div>
                </div>
            </div>
        </div>
    </div>

    <div id="hr2"></div>

    <div id="chart-table-wrapper">
        <table id="chart-table">
            <tr id="chart-legend">
                <td id="legend-rank">Rank</td>
                <td id="legend-title">Title</td>
                <td id="legend-artist">Artist</td>
                <td id="legend-lastweek">Last Week</td>
                <td id="legend-peakpos">Peak Pos.</td>
                <td id="legend-weeksonchart">Weeks On Chart</td>
            </tr>
            {% for c in chart %}
            <tr class="chart-content">
                {% if c.rank == 1 %}
                    <td class="content-rank" style="background-color: gold;">{{c.rank}}</td>
                {% elif c.rank == 2 %}
                    <td class="content-rank" style="background-color: silver;">{{c.rank}}</td>
                {% elif c.rank == 3 %}
                    <td class="content-rank" style="background-color: sienna;">{{c.rank}}</td>
                {% elif c.rank <= 10 %}
                    <td class="content-rank" style="background-color: pink;">{{c.rank}}</td>
                {% else %}
                    <td class="content-rank">{{c.rank}}</td>
                {% endif %}
                <td class="content-title">{{c.title}}</td>
                <td class="content-artist">{{c.artist}}</td>
                <td class="content-lastweek">{{c.lastPos}}</td>
                <td class="content-peakpos">{{c.peakPos}}</td>
                <td class="content-weeksonchart">{{c.weeks}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

