{% extends 'template.html' %}

{% block title %}Billboard Chart{% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/billboardchart/billboardchart.css' %}"> 
{% endblock %}

{% block startscript %}
{% endblock %}

{% block endscript %}
<script src="{% static 'js/billboardchart.js' %}"></script>
<!-- <script>
    const dateinput = document.getElementById('date-calendar-input')
    dateinput.addEventListener("change", (e) => {
        const selectedDate = e.target.value;
        location.href = `/billboardchart/${selectedDate}`;
    });
</script> -->
{% endblock %}

{% block content %}

<div id="wrapper">
    <div id="top-wrapper">
        <div id="top-label">Billboard Hot 50™</div>
        <div id="hr1"></div>
        <div id="date-container">
            <div id="date-label">{{date}}</div>
            <span class="date-calendar-toggle">
                <span class="date-calendar-toggle-button" style='background-image: url("{% static 'image/calendar-icon.svg' %}");'></span>
                <input type="date" id="date-calendar-input">
            </span>
        </div>
        <div id="hr2"></div>
    </div>
    <div id="rank1-wrapper">
        <img id="rank1-img" src="{{rank1.image}}">
        <div id="rank1-info-wrapper">
            <div id="rank1-info-top">
                <div id="rank1-rank">{{rank1.rank}}</div>
                <div id="rank1-track">
                    <div id="rank1-title">{{rank1.title}}</div>
                    <div id="rank1-artist">{{rank1.artist}}</div>
                </div>
            </div>
            <div id="rank1-chartinfo">
                <div class="rank1-chartinfo-item" style="border-right: 1px solid gray">
                    <div class="rank1-info-label">LAST WEEK</div>
                    <div class="rank1-info-value">{{rank1.lastPos}}</div>
                </div>
                <div class="rank1-chartinfo-item">
                    <div class="rank1-info-label">WEEKS ON CHART</div>
                    <div class="rank1-info-value">{{rank1.weeks}}</div>
                </div>
            </div>
        </div>
    </div>

    <div id="hr2"></div>

    <div id="chart-table-wrapper">
        <table id="chart-table">
            <tr id="chart-legend">
                <td id="legend-rank">RANK</td>
                <td id="legend-fluct"></td>
                <td id="legend-track"></td>
                <td id="legend-lastweek">LAST WEEK</td>
                <td id="legend-peakpos">PEAK POS.</td>
                <td id="legend-weeksonchart">WEEKS ON CHART</td>
            </tr>
            {% for c in chart %}
            <tr class="chart-content">
                {% if c.rank == 1 %}
                    <td class="content-rank" style="background-color: gold;">{{c.rank}}</td>
                {% elif c.rank == 2 %}
                    <td class="content-rank" style="background-color: silver;">{{c.rank}}</td>
                {% elif c.rank == 3 %}
                    <td class="content-rank" style="background-color: sienna;">{{c.rank}}</td>
                {% elif c.rank <= 10 %}
                    <td class="content-rank" style="background-color: pink;">{{c.rank}}</td>
                {% else %}
                    <td class="content-rank">{{c.rank}}</td>
                {% endif %}
                <td class="content-fluct">
                    {% if c.lastPos == 0 %}
                        <div style="color:yellow; font-size: 15px;">New</div>
                    {% elif c.rank < c.lastPos %}
                        <div style="color:green">▲</div>
                    {% elif c.rank > c.lastPos %}
                        <div style="color:red">▼</div>
                    {% else %}
                        <div>▶</div>
                    {% endif %}
                </td>
                <td class="content-track">
                    <div class="content-title">{{c.title}}</div>
                    <div class="content-artist">{{c.artist}}</div>
                </td>
                <td class="content-lastweek">{{c.lastPos}}</td>
                <td class="content-peakpos">{{c.peakPos}}</td>
                <td class="content-weeksonchart">{{c.weeks}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

