<!-- 뇌절 디자인 테스트용 -->

{% extends 'template.html' %}

{% block title %}Billboard Chart{% endblock %}

{% block header %}
{% endblock %}

{% load static %}

{% block content %}
<style>
    #wrapper {
        min-height: 100vh;
        width: 100vw;
    }
    #charttop {
        align-items: center;
    }
    #charttop h1 {
        margin:10px;
    }
    #charttop p {
        margin-right:10%;
        text-align: right;
    }
    #chartlist {
        width: 80vw;
        margin-left:10vw;
    }
    .chartitem {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 10px 0;
        border: solid 1px darkgrey;
        border-radius: 10px;
        min-height: 80px;
    }
    .chartitem .rank {
        display: flex;
        align-items: center;
        margin: 0 10px;
        min-width: 50px;
        min-height: 50px;
        background-color: black;
        color:white;
        font-weight: bold;
        font-size: 25px;
        border-radius: 25px;
        text-align: center;
        justify-content: center;
    }
    .chartitem .track {
       font-weight: bold;
       font-size: 20px;
    }
    .top1 {
        min-height: 200px;
    }
    .top2 {
        min-height: 150px;
    }
    .top3 {
        min-height: 100px;
    }
    .top1 .rank{
        margin: 0 50px;
        min-width: 100px;
        min-height: 100px;
        border-radius: 50px;
        font-size: 50px;
        background-color: gold;
        color: black;
    }
    .top1 .track {
        font-size: 50px;
        text-shadow: 4px 4px 2px gold;
        font-weight: bolder;
    }
    .top2 .rank{
        margin: 0 30px;
        min-width: 80px;
        min-height: 80px;
        border-radius: 40px;
        font-size: 40px;
        background-color: silver;
        color: black;
    }
    .top2 .track {
        font-size: 40px;
        text-shadow: 4px 4px 2px silver;
        font-weight: bolder;
    }
    .top3 .rank{
        margin: 0 20px;
        min-width: 60px;
        min-height: 60px;
        border-radius: 30px;
        font-size: 30px;
        background-color: sienna ;
        color: black;
    }
    .top3 .track {
        font-size: 30px;
        text-shadow: 2px 2px 1px sienna ;
        font-weight: bolder;
    }
    .top10 .rank {
        color:pink;
        font-weight: bolder;
    }

</style>
<div id="wrapper">

    <div id="charttop">
        <h1 class="text-center">{{inputdate}} 빌보드 차트 </h1>
        <p class="">빌보드 발표 기준일 : {{date}}</p>
    </div>

    <div id="chartlist">
        {% for c in chart %}
            {% if c.rank == 1 %}
            <div class="chartitem align-middle top1">
            {% elif c.rank == 2 %}
            <div class="chartitem align-middle top2">
            {% elif c.rank == 3 %}
            <div class="chartitem align-middle top3">
            {% elif c.rank <= 10 %}
            <div class="chartitem align-middle top10">
            {% else %}
            <div class="chartitem align-middle">
            {% endif %}
                <div class="rank align-middle">{{c.rank}}</div><div class="track align-middle">{{c.title}} - {{c.artist}}</div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}