{% load static %}

{% block category4 %}
<div class="category-wrapper" id="category4">
    <div class="category-top">
        <h2>Final Modeling</h2>
    </div>
    <div class="text-section">
        <h3>개요<br></h3>
        <div>앞서 여러 방법으로 모델링 한 결과 LDA 데이터를 통해 KNeighborsRegressor을 시도하기로 했다.<br> 
            2024년의 Rank를 예측하기 위해서는 2023년도의 데이터를 가지고 모델링한 모델이 가장 정확하다고<br> 
            생각해 2023년 데이터를 가지고 다시 모델링을 했다.<br> 
            n_components는 분산분석표를 통해 누적분산80%를 넘기는 4를 사용했다.<br> 
            여러번의 Gridsearch를 통해서 최종적으로  algorithm: 'auto', leaf_size: 30, metric: 'minkowski',<br>  
            n_neighbors: 150, p: 1, weights: 'distance'가 도출됐고 약 72%의 정확도를 나타낸다.<br></div>
    </div>
    <div class="category-content">
        <div class="vertical-section" style="margin-top:140px;">
            <h2 style="margin-bottom:30px; color:lightpink">최종 모델링</h2>
            <div class="img-wrapper" style="margin-bottom:30px;">
                <img src="{% static 'image/final.png' %}">
            </div>
            <div style="text-align:center;">algorithm: 'auto', leaf_size: 30, metric: 'minkowski',<br> 
                n_neighbors: 150, p: 1, weights: 'distance' 의 <br>
                파라미터를 적용한 최종 예측 결과</div>
        </div>
        <div class="vertical-section"  style="margin-top:140px;">
            <div class="vertical-section-content">
                <div class="img-wrapper" style="margin-bottom:30px;">
                    <img src="{% static 'image/score.png' %}">
                </div>
                <div style="text-align:center;">2023년 데이터를 test_size=0.3으로 X_train, X_test, y_train, y_test<br>
                    를 생성해 knn.score와 cross_val_score를 출력 </div>
            </div>
        </div>
        <div class="vertical-section" style="margin-top:140px;">
            <div class="vertical-section-content">
                <div class="img-wrapper" style="margin-bottom:30px;">
                    <img src="{% static 'image/pickle.png' %}">
                </div>
                <div style="text-align:center;">학습된 모델을 pickle로 저장해서 server와 연결했다.</div>

            </div>
        </div>
    </div>
</div>
{% endblock %}