{% load static %}

{% block category3 %}
<style>
.rotate-section {
    position: relative;
    width: 100%;
}
.rotate-content > .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 36, 36);
}
.rotate-content > .img-wrapper > img {
    height: 50vh;
    overflow:scroll;
}
.rotate-content > div {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
}
.rotate-content-btn {
    position: absolute;
    top:0;
    width: 40px;
    height: 50vh;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    background-color: rgb(66, 66, 66);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: .5;
    transition: .2s;
    transition-property: background-color, opacity;
}
.rotate-content-btn:hover {
    background-color: gray;
    opacity: .8;
    transition-property: background-color, opacity;
}
.rotate-section > #nextbtn3-1 {
    right: 0;
}
.rotate-section > #prevbtn3-1 {
    left: 0;
}
@media (max-width: 800px) {
    .rotate-content > .img-wrapper > img {
        height: 30vh;
        overflow:scroll;
    }
    .rotate-content-btn {
        height: 30vh;
    }

}

</style>
<div class="category-wrapper"  id="category3">
    <div class="category-top">
        <h2>Visualizing</h2>
    </div>
    <div class="category-content">
        <div class="rotate-section" id="rotate3-1">
            <div class="rotate-content">
                <div class="img-wrapper">
                    <img src="{% static 'image/1.png' %}" alt="Rank Assumption">
                </div>
                <div>여러 개의 색깔로 표현된 것은 
                    1~12월 까지 시간에 흐름에 따른 
                    feature별 평균 값<br>
                    → 각 월에 뚜렷하게 나타나는 feature별 
                    특징은 존재하지 않지만 시간에  흐름에
                    Rank가 영향을 받는다는 점을 유추했다.
                </div>
            </div>
            <div class="rotate-content" style="display: none;">
                <div class="img-wrapper">
                    <img src="{% static 'image/2.png' %}" alt="Time Affects Rank">
                </div>
                <div>12개월 동안의 Rank와 
                    feature의 상관 관계의 변화 추이<br>
                    → 시간의 흐름에 rank가 영향을 받는다.
                </div>
            </div>
            <div class="rotate-content" style="display: none;">
                <div class="img-wrapper">
                    <img src="{% static 'image/3.png' %}" alt="Regulation Model Comparision">
                </div>
                <div>Ridge 모델 학습 세트 정확도: 0.03<br>
                    Ridge 모델 검증 세트 정확도: 0.029<br>
                    Lasso 모델 학습 세트 정확도: 0.03<br>
                    Lasso 모델 검증 세트 정확도: 0.029<br>
                    ElasticNet 모델 학습 세트 정확도: 0.03<br>
                    ElasticNet 모델 검증 세트 정확도: 0.029<br>
                </div>
            </div>
            <div class="rotate-content" style="display: none;">
                <div class="img-wrapper">
                    <img src="{% static 'image/4.png' %}" alt="PCA Data">
                </div>
                <div>
                    전체 데이터와 2022 데이터를 
                    통한 원본 데이터, 표준화 데이터
                    의 PCA 분산 분석표
                </div>
            </div>
            <div class="rotate-content" style="display: none;">
                <div class="img-wrapper">
                    <img src="{% static 'image/5.png' %}" alt="LDA Data">
                </div>
                <div>
                    전체 데이터와 2022 데이터를
                    통한 원본 데이터, 표준화 데이터
                    의 LDA 분산 분석표
                </div>
            </div>
            <div class="rotate-content" style="display: none;">
                <div class="img-wrapper">
                    <img src="{% static 'image/6.png' %}" alt="Original Data KNN">
                </div>
                <div>
                    원본 데이터 knn 회귀 정확도 :<br>
                    학습 세트 정확도 :  1.0
                    검증 세트 정확도 :  -0.997
                </div>
            </div>
            <div class="rotate-content" style="display: none;">
                <div class="img-wrapper">
                    <img src="{% static 'image/7.png' %}" alt="Standardized Data KNN">
                </div>
                <div>
                    표준화 데이터 knn 회귀 정확도 :<br>
                    학습 세트 정확도 :  1.0
                    검증 세트 정확도 :  -0.945
                </div>
            </div>
            <div class="rotate-content" style="display: none;">
                <div class="img-wrapper">
                    <img src="{% static 'image/8.png' %}" alt="PCA KNN">
                </div>
                <div>
                    PCA 데이터 knn 회귀 정확도 :<br>
                    학습 세트 정확도 :  1.0<br>
                    검증 세트 정확도 :  -1.278
                </div>
            </div>
            <div class="rotate-content" style="display: none;">
                <div class="img-wrapper">
                    <img src="{% static 'image/9.png' %}" alt="PCA Standardized Data KNN">
                </div>
                <div>
                    PCA + 표준화 데이터 knn 회귀 정확도 :<br>
                    학습 세트 정확도 :  1.0<br>
                    검증 세트 정확도 :  -0.985
                </div>
            </div>
            <div class="rotate-content" style="display: none;">
                <div class="img-wrapper">
                    <img src="{% static 'image/10.png' %}" alt="LDA KNN">
                </div>
                <div>
                    LDA 데이터 knn 회귀 정확도 :<br>
                    학습 세트 정확도 :  1.0<br>
                    검증 세트 정확도 :  -1.102
                </div>
            </div>
            <div class="rotate-content" style="display: none;">
                <div class="img-wrapper">
                    <img src="{% static 'image/11.png' %}" alt="LDA Standardized Data KNN">
                </div>
                <div>
                    LDA + 표준화 데이터 knn 회귀 정확도 :<br>
                    학습 세트 정확도 :  1.0<br>
                    검증 세트 정확도 :  -0.769<br>
                    → 정확도가 가장 높게 나와 이 방법을 사용하기로 했다.
                </div>
            </div>
            <div class="rotate-content-btn" id="prevbtn3-1" role="button"><</div>
            <div class="rotate-content-btn" id="nextbtn3-1" role="button">></div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    const divs3_1 = document.querySelectorAll('#rotate3-1 > .rotate-content');
    let currentIndex = 0;

    document.getElementById('nextbtn3-1').addEventListener('click', function() {
        // Hide the current div
        divs3_1[currentIndex].style.display = 'none';
        
        // Calculate the next index
        currentIndex = (currentIndex + 1) % divs3_1.length;
        
        // Show the next div
        divs3_1[currentIndex].style.display = 'block';
    });
    document.getElementById('prevbtn3-1').addEventListener('click', function() {
        // Hide the current div
        divs3_1[currentIndex].style.display = 'none';
        
        // Calculate the next index
        currentIndex = (currentIndex - 1)
        if (currentIndex < 0) {
            currentIndex = divs3_1.length - 1;
        }
        // Show the next div
        divs3_1[currentIndex].style.display = 'block';
    });
});
</script>
{% endblock %}