
{% extends 'template.html' %}

{% block title %}History{% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/history/history.css' %}"> 
{% endblock %}

{% block startscript %}

{% endblock %}

{% block endscript %}
    <script src="{% static 'js/history.js' %}"></script>
{% endblock %}

{% block content %}

<div id="wrapper">
    <div id="top-wrapper">
        <h1>History</h1>
        <div id="button-wrapper">
            <div class="button" data-category="category1">Data Collection</div>
            <div class="button" data-category="category2">Data Preprocessing</div>
            <div class="button" data-category="category3">Model Visualizing</div>
            <div class="button" data-category="category4">Final Modeling</div>
        </div>
    </div>
    <div class="hr1"></div>
    <div id="body-wrapper">
        {% include 'history/category1.html' %}
        {% include 'history/category2.html' %}
        {% include 'history/category3.html' %}
        {% include 'history/category4.html' %}
    </div>
    <div id="bottom-wrapper">
        <div id="end-top-button">상단으로</div>
    </div>
    <div id="top-button">TOP</div>
</div>

{% endblock %}