#wrapper {
    margin:0;
    width: 100%;
}

#top-wrapper {
    padding: 20px 0;
}

#body-wrapper {
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

#slider-section {
    flex: 7;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 50px;
}

.label-wrapper {
    height: 100%;
}

.label-wrapper .label {
    flex: 0.5;
    margin: 0;
    min-width: 100px;
    background-color: lightgray;
    color: black;
    font-size: 12px;
    height: 100%;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-wrapper .info {
    display: none;
    position : absolute;
    color: black;
    background-color: pink;
    min-width: 100px;
    max-width: 300px;
    border-radius: 10px;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    justify-content: center;
    align-items: center;
    opacity: .9;
}

.label-wrapper:hover .label {
    background-color: white;
}

.label-wrapper:hover .info {
    display: block;
}

.label-wrapper .info:hover {
    display: none;
}

.label-wrapper .info h1 {
    width: 100%;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
}
.label-wrapper .info h2 {
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.slider-wrapper .slider {
    flex: 2;
    appearance: none;
    height: 20px;
    border-radius: 10px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 0 10px;
    cursor: pointer;
    caret-color: transparent;
}

.slider-wrapper .slider:hover {
    background: white;
}

.slider-wrapper .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: rgb(70, 70, 70);
    cursor: pointer;
}

.slider-wrapper .slider::-webkit-slider-thumb:hover {
    background: pink;
    transition: .2s;
}

.slider-wrapper .input {
    flex: 1;
    max-width: 100px;
    background-color: #d3d3d3;
    border: lightgrey 1px solid;
    border-radius: 10px;
    text-align: center;
}

.slider-wrapper .input:hover {
    background-color: white;
    transition: .2s;
}

.slider-wrapper .input:focus {
    outline: none;
    border: pink solid 2px;
}

#result-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rank-button {
    width: 100px;
    height: 50px;
    background-color: #d3d3d3;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    margin-bottom: 40px;
    font-weight: bolder;
    box-shadow: gray 3px 3px 3px;
}

#rank-button:hover {
    background-color: white;
    transition: .2s;
}

#rank-button:active {
    position: relative;
    top: 3px;
    left: 3px;
    background-color: gray;
    box-shadow: none;
    transition: .5s;
}

#rank-label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rank-num {
    background-color: pink;
    width: 100px;
    height: 100px;
    color:black;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 20px magenta;
}

@media (max-width: 1000px) {
    #body-wrapper {
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        margin-bottom: 80px;
    }

    #slider-section, #result-section {
        flex: 1;
        width: 100%;
    }

    #result-section {
        margin-top: 20px;
    }
}