<!-- Body 부분 Content에 들어갈 탬플릿 예시입니다. -->

<!-- 베이스가 되는 탬플릿 HTML에서 extends -->
{% extends 'template.html' %}

<!-- 페이지 Title(브라우저 탭에 나타나는 글자) 설정 -->
{% block title %}Example{% endblock %}

<!-- static 로드 -->
{% load static %}

<!-- 현재 content 탬플릿에 적용시킬 CSS 적용 공간 -->
<!-- css 디렉터리에 별도의 CSS 파일을 적용시키거나(External)-->
<!-- style 태그를 이용하여 적용 가능(Internal)-->
{% block style %}
    <!--External-->
    <link rel="stylesheet" href="{% static 'css/contentexample.css' %}"> 
    <!--Internal-->
    <style>
        /* 가장 바깥쪽을 wrapper ID를 가진 div 태그로 감싼 후 CSS로 wrapper에 width:100%를 적용시키는 것을 권장합니다. */
        #wrapper {
            width: 100%;
        }
    </style>  
{% endblock %}

<!-- 탬플릿 로드 전 실행될 자바스크립트 코드 적용 공간 -->
{% block startscript %}
    <script>
        const start = () => {
            alert("레퍼런스용 Example 페이지입니다.");
        } 
        start();
    </script>
{% endblock %}

<!-- 페이지 로드 후 실행될 자바스크립트 코드(이벤트리스너 등) 적용 공간 -->
{% block endscript %}
    <script>
        const examplebtn = document.getElementById('examplebtn');
        examplebtn.addEventListener('click', (e) => {
            alert('Example Button');
        })
    </script>
{% endblock %}

<!-- 여기서부터 HTML 탬플릿 작성 -->
{% block content %}

<!-- 가장 바깥쪽을 wrapper ID를 가진 div 태그로 감싼 후 CSS로 wrapper에 width:100%를 적용시키는 것을 권장합니다. -->
<div id="wrapper">
    <h1>Example</h1>
    <button id="examplebtn">버튼</button>
</div>

{% endblock %}