<!-- 푸터 탬플릿 -->

{% load static %}

{% block footer %}
<!-- 푸터 CSS -->
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<style>
    p{
        font-family: "Noto Serif KR", serif;
        font-weight: 400;
        font-style: normal;
        text-align: center;
      }
    footer{
        padding-top:100px;
    }
</style>
<footer>
    <p style = "font-size: small;">(주)KG에듀원 아이티뱅크 노량진 학원</p>
    <p style = "margin-bottom: 35px; font-size: small;">서울 동작구 장승배기로 171 2층, 3층</p>
    <p style = "font-size: x-small">Copyrightⓒ2024 Billboard Chart Analyzing All rights reserved.</p>
    <p><br></p>
</footer>


{% endblock %}