{% load static %}

{% block header %}
<style>
  #header {
    height: 107px;
    width: 100%;
    background-color: black;
    border-bottom: 2px solid gray;
    position: fixed; top: 0px;
    display: flex;
    margin-left: auto;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    box-shadow: 0 8px 30px rgb(224, 16, 138);
    z-index: 1;
  }

  .opt {
    color: white;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 40px;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;
  }
  .opt:hover {
    color: rgb(226, 82, 166);
    transition: 0.2s;
  }
  #dropdownbtn {
    width: 50px;
    height: 50px;
    right: 30px;
    background-color: gray;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 10px;
    color: white;
    display: none;
    margin-left: auto;
    cursor: pointer;
  }
  .dropdownitem {
    font-size: 15px;
    font-weight: bold;
    background-color: lightgray;
    color: black;
    border: solid 1px gray;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
  }
  .dropdownitem:hover {
    background-color: gray;
    transition: .2s;
  }
  @media (max-width: 1000px) {
    .opt {
      display: none;
    }
    #dropdownbtn {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #dropdownmenu {
      display: block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top:50px;
      right: 0;
    }
    .dropdownmenu-active {
      visibility: visible !important; 
      opacity: 1 !important;
    }
  }
</style>



<div id="header" style>
  <div role="button" href="" style="margin-right: 50px;" onclick="location.href='/'">
    <img src="{%static 'image/billboardlogo.png'%}" style = "width:auto; height:80px;">
  </div>

  <div class="opt" role="button" onclick="location.href='/introduction/'">Introduction</div>
  <div class="opt" role="button" onclick="location.href='/simulation/'">Simulation </div>
  <div class="opt" role="button" onclick="location.href='/history/'">History </div>
  <div class="opt" role="button" onclick="location.href='/billboardchart/'">BillboardChart </div>

  <div id="dropdownbtn">▽
    <div id="dropdownmenu">
      <div class="dropdownitem" onclick="location.href='/introduction/'">Introduction</div>
      <div class="dropdownitem" onclick="location.href='/simulation/'">Simulation</div>
      <div class="dropdownitem" onclick="location.href='/history/'">History</div>
      <div class="dropdownitem" onclick="location.href='/billboardchart/'">BillboardChart</div>
    </div>
  </div>
  
</div>

<script>
  const dropdownbtn = document.getElementById("dropdownbtn");
  const dropdownmenu = document.getElementById("dropdownmenu");
  dropdownbtn.addEventListener("click", (e) => {
    e.stopPropagation();
    if (dropdownmenu.classList.contains('dropdownmenu-active')) {
      dropdownmenu.classList.remove("dropdownmenu-active");
    }
    else {
      dropdownmenu.classList.add("dropdownmenu-active");
    }
  })
</script>

{% endblock %}
