{% load static %}

{% block header %}
<style>
  #header {
    height: 107px;
    width: 100%;
    background-color: black;
    border-bottom: 2px solid gray;
    position: fixed; top: 0px;
    display: flex;
    margin-left: auto;
    padding-left: 60px;
    padding-right: 60px;
    align-items: center;
    box-shadow: 0 8px 30px rgb(224, 16, 138);
    z-index: 1;
  }

  .opt {
    color: white;
    font-size: 24px;
    margin-left: 20px;
    margin-right: 40px;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;
  }
  .opt:hover {
    color: rgb(226, 82, 166);
    transition: 0.2s;
  }
</style>

<div id="header" style="">
  <div role="button" href="" style="margin-right: 50px;" onclick="location.href='/'">
    <img src="{%static 'image/billboardlogo.png'%}" style = "width:auto; height:80px;">
  </div>

  <div class="opt" role="button" onclick="location.href='/introduction/'">Introduction</div>
  <div class="opt" role="button" onclick="location.href='/simulation/'">Simulation </div>
  <div class="opt" role="button" onclick="location.href='/history/'">History </div>
  <div class="opt" role="button" onclick="location.href='/billboardchart/'">BillboardChart </div>
  
</div>

{% endblock %}
