{% extends 'template.html' %}

{% block title %}FrontPage{% endblock %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <style>
        @keyframes slideInFromLeft {
            0% {
                opacity: 0;
                transform: translateX(-100%);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

        /* 이미지에 애니메이션 효과를 적용합니다. */
        .animated-image {
            animation: slideInFromLeft 2s ease-in-out;
        }
    </style>
{% endblock %}

{% block content %}
<div style="height:100vh; display: flex; align-items: center;" id="body">
    <div style = "display: flex; align-items: center; width: 1000px; height: 100%;">
        <div class="animated-image" style = "display: flex; align-items:center;">
            <img src="{% static 'image/billboard.jpg' %}" alt="main_image" style = "width:500px; height: 600px;">
        </div>
        <div style ="font-family: 'Roboto', sans-serif; font-style: normal; font-weight:500; display: flex-column; align-items: center; margin-left: 80px; text-align:center; margin-bottom:30px;">
            <div style = "font-size:40px; display: flex;">Do you want predict your ranking?<br><br></div>
            <div style= "font-size: 100px; font-style: italic;">Join us !</div> 
        </div>
    </div>
</div>

{% endblock %}