/* 푸터에 적용할 CSS */

footer {
    width: 100vw;
    padding: 10px;
    background-color: black;
    color: white;
    border-top: 2px solid gray;
    height: 220px;
    padding-top:60px;
}

p{
    font-family: "Noto Serif KR", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }