#wrapper {
    min-height: 100%;
    width: 100%;
}
#charttop {
    align-items: center;
}
#charttop h1 {
    margin:10px;
}
#charttop p {
    margin-right:10%;
    text-align: right;
}
#charttop .info {
    margin-right: 10%;
    text-align: right;
}
#chartlist {
    width: 80%;
    margin-left:10%;
}
.chartitem {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    border: solid 1px darkgrey;
    border-radius: 10px;
    min-height: 80px;
}
.chartitem .rank {
    display: flex;
    align-items: center;
    margin: 0 10px;
    min-width: 50px;
    min-height: 50px;
    background-color: black;
    color:white;
    font-weight: bold;
    font-size: 25px;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
}
.chartitem .track {
   font-weight: bold;
   font-size: 20px;
}
.top1 .rank{
    background-color: gold;
    color: black;
}
.top2 .rank{
    background-color: silver;
    color: black;
}
.top3 .rank{
    background-color: sienna ;
    color: black;
}
.top10 .rank {
    color:pink;
    font-weight: bolder;
}