{% extends 'template.html' %}

{% block title %}Project Introduction{% endblock %}

{% block style %}
{% endblock %}

{% load static %}

{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<style>
    .AUCU {
        font-size: 2.5rem;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        padding-bottom: 22px;
        font-weight: 500;
    }
    #aboutus-container {
        display: flex;
    }
    #aboutus {
        height: 280px; 
        overflow: hidden; 
        line-height: 2.2;
    }
    #rr-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #rr {
        margin: 15px;
        text-align: center;
        font-weight: bolder;
        font-size: 30px;
        min-width: 250px;
        max-height: 150px;
        min-height: 250px;
        max-height: 250px;
        border-radius: 50%;
        border: 1px solid magenta;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 20px magenta;
        transition: .4s;
    }
    #rr:hover {
        box-shadow: inset 0 0 77px magenta;
        transition: .4s;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 24px;
        /* height: auto; */
        width: 100%;
    }
    .grid-item {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .grid-item:nth-child(odd) {
        justify-content: left;
    }
    .grid-item:nth-child(even) {
        justify-content: right;
    }
    .grid-item-content {
        background-color: black;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 200px;
        border-radius: 45px;
        border: 1px solid gray;
        width: 100%;
    }
    .picture {
        height: 100%;
        padding: 15px;
        
    }
    .member {
        width: 60%;
        height: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .git.hover {
        color: gray;
    }
    @media (max-width: 1300px) {
        .grid-container {
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: auto;
        }
        .grid-item {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .grid-item-content {
            min-width: 500px;
        }
        .grid-item:nth-child(odd) {
            justify-content: center;
        }
        .grid-item:nth-child(even) {
            justify-content: center;
        }
    }
    @media (max-width: 1000px) {
        #aboutus-container {
            flex-direction: column;
        }
        #aboutus {
            flex: 1;
        }
        #rr-container {
            flex: 1;
        }
    }
</style>


<div style="min-height: 100vh; width: 100%; margin-bottom: 100px;">
    <div>
        <div class="AUCU" style="padding-top: 45px;">About Us</div>
        <div id="aboutus-container">
            <div id="aboutus">
                신나는 댄스곡 발매 시기는 언제가 가장 좋을까요?<br>
                내 신곡이 빌보드 차트에 들어갈 수 있을까요?<br>
                여러분의 의문점을 해소시켜드리고자 신뢰도 높은 정보를 제공하기 위해 다양한 분석을 통한 빌보드 차트 예측 모델을 개발했습니다.<br>
                이를 통해 발매 시기와 마케팅 전략을 보다 정확하게 계획할 수 있을 것입니다.<br>
                여러분의 미래를 예측해보세요!</div>
            <div id="rr-container">
                <div id="rr" role="button" onclick="location.href='/history/'">
                    HISTORY<br>
                    보러가기
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="AUCU" style="padding-top: 20px;">Contact Us</div>
        <div class="grid-container">
            <div class="grid-item">
                <div class="grid-item-content">
                    <div class="picture">
                        <img src="{% static 'image/shin.jpg' %}" style="margin-left: 6px; width: 100%; height: 100%; border-radius: 25px;">
                    </div>
                    <div class="member">
                        <div>신다연</div>
                        <div style="padding-top: 15px;">tlsekdus77@naver.com</div>
                        <div class="git" style="padding-top: 15px;" role="button" onclick="window.open('https://github.com/Dayeonee2')">https://github.com/Dayeonee2</div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-item-content">
                    <div class="picture">
                        <img src="{% static 'image/kgitedulogo.png' %}" style="margin-left: 6px; width: 100%; height: 100%; border-radius: 25px;">
                    </div>
                    <div class="member">
                        <div>성민규</div>
                        <div style="padding-top: 15px;">test123@naver.com</div>
                        <div class="git" style="padding-top: 15px;" role="button" onclick="window.open('https://github.com/')">https://github.com/</div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-item-content">
                    <div class="picture">
                        <img src="{% static 'image/kgitedulogo.png' %}" style="margin-left: 6px; width: 100%; height: 100%; border-radius: 25px;">
                    </div>
                    <div class="member">
                        <div>성철규</div>
                        <div style="padding-top: 15px;">test456@naver.com</div>
                        <div class="git" style="padding-top: 15px;" role="button" onclick="window.open('https://github.com/CG05')">https://github.com/CG05</div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-item-content">
                    <div class="picture">
                        <img src="{% static 'image/kgitedulogo.png' %}" style="margin-left: 6px; width: 100%; height: 100%; border-radius: 25px;">
                    </div>
                    <div class="member">
                        <div>현창민</div>
                        <div style="padding-top: 15px;">hcm1206@naver.com</div>
                        <div class="git" style="padding-top: 15px;" role="button" onclick="window.open('https://github.com/hcm1206')">https://github.com/hcm1206</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}